<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AngularJS Minesweeper</title>
	<!--Reference to AngularJS version 1.8-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<!--reference to my own Javascript file-->
	<script src="./JS/script.js"></script>
	<!--reference to my own CSS file-->
	<link rel="stylesheet" type="text/css" href="./CSS/style.css">
</head>
<!--links the main content of the webpage to the "minesweeperApp" app from the "minesweeperModule" module-->
<body ng-app="minesweeperApp">
	<!--div container linked to the "minesweeperController" controller-->
	<div ng-controller="minesweeperController">
		<!--
		Displays the "text" variable I defined in the controller
		{{test}}
		-->

		<!--a table to display the minefield board-->
		<table class="minefield">
			<tr ng-repeat="row in minefield.rows">
				<td ng-repeat="spot in row.spots" ng-click="uncoverSpot(spot)">
					<!--displays a graphic for a covered square if the current spot is covered-->
					<img ng-if="spot.isCovered" src="./images/covered.png">
					<!--displays a graphic for an empty square if the current spot is not covered and is empty-->
					<img ng-if="!spot.isCovered && spot.content == 'empty'" src="./images/empty.png">
					<!--displays a graphic for a mine if the current spot is not covered and has a mine-->
					<img ng-if="!spot.isCovered && spot.content == 'mine'" src="./images/mine.png">
					<!--displays the number of mines that are near the current spot-->
					<img ng-if="!spot.isCovered && spot.content == 1" src="./images/number-1.png">
					<img ng-if="!spot.isCovered && spot.content == 2" src="./images/number-2.png">
					<img ng-if="!spot.isCovered && spot.content == 3" src="./images/number-3.png">
					<img ng-if="!spot.isCovered && spot.content == 4" src="./images/number-4.png">
					<img ng-if="!spot.isCovered && spot.content == 5" src="./images/number-5.png">
					<img ng-if="!spot.isCovered && spot.content == 6" src="./images/number-6.png">
					<img ng-if="!spot.isCovered && spot.content == 7" src="./images/number-7.png">
					<img ng-if="!spot.isCovered && spot.content == 8" src="./images/number-8.png">
				</td>
			</tr>
		</table>
		<h3 ng-if="isWinMessageVisible">You won!</h3>
		<h3 ng-if="hasLostMessageVisible">You Lost</h3>
	</div>
</body>
</html>